<div class="container" style="margin-top: 50px;">
  <%= form_tag restaurants_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search something here...."
      %>
      <%= submit_tag "Search!!", class: "btn btn-primary" %>
  <% end %>
  <h1>Restaurants</h1>

  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
</div>
